<%= simple_form_for([@fair, @message]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :incident_date, :as => :datetime_picker %>
    <%= f.input :contact_id, collection: @fair.contacts %>
    <%= f.input :incident_memo, autofocus: true, input_html: { rows: 5 } %>
    <%= f.input :created_by, collection: User.all, disabled: true if @message.created_by.present? %>
    <%= f.input :updated_by, collection: User.all, disabled: true if @message.created_by.present?  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    or <%= link_to "Back", :back %>
    <% if @message.id && @message.iid.blank? %>
      or <small><%= link_to "Delete", fair_message_path(@fair, @message), method: :delete, data: {confirm: "Are you sure you want to delete this message?"}, class: "text-danger" %></small>
    <% end %>
  </div>
<% end %>
