<% @page_title = "Search Results" %>

<% if params[:search] %>
  <h2>Search Results for: <%= @search %></h2>
<% end %>

<%= form_tag search_fairs_path, :method => :get do %>
  <%= search_field_tag :search, @query, class: "form-control input-lg", placeholder: "Search CRM" %>
  <small><em>Search for anything or use an operator (tel:, fair:, or contact:)</em></small>
<% end %>
<br>

<div class="row">
  <div class="col-md-6">
    <h2>Fairs</h2>
    <% if @fairs.empty? %>
      <em>No fair results found.</em>
    <% else %>
      <table class="table table-condensed table-striped table-hover table-responsive">
        <thead><tr>
          <th>Fair</th>
          <th>State</th>
          <th>SW</th>
          <th>Web</th>
        </tr></thead>
        <tbody>
          <% @fairs.each do |fair| %>
          <tr>
            <td><strong><%= link_to fair.fair_name, fair %></strong></td>
            <td><%= fair.fair_state %></td>
            <td align="center"><%= "<span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe if fair.purchased? %></td>
            <td align="center"><%= "<span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe if fair.showorks_web_user? %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>Contacts</h2>
    <% if @contacts.empty? %>
      <em>No contact results found.</em>
    <% else %>
      <table class="table table-condensed table-striped table-hover table-responsive">
        <thead><tr>
          <th>Contact</th>
          <th>Phone</th>
        </tr></thead>
        <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td nowrap><strong><%= link_to contact.contact_name, contact.fair %></strong><br><small><%= contact.fair.fair_name %></small></td>
            <td><small><%= contact.contact_phone_numbers.join("<br>").html_safe if contact.contact_phone_numbers %></small></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script>
  $("td").highlight('<%= @query %>');
</script>

<% if 1+1 == 12 %>
  <br><hr>
  <%= @fairs.to_sql %>
  <br><br>
  <%= @contacts.to_sql %>
<% end %>
