<% @page_title = "Fair: #{@fair.fair_name}" %>

<h2><%= @fair.fair_name %></h2>

<p id="label-container">
  <!-- Purchased -->
  <% if @fair.purchased? %>
    <%= bootstrap_label_helper("Purchased", "success") %>
  <% else %>
    <%= bootstrap_label_helper("Not Purchased", "info") %>
  <% end %>

  <!-- ShoWorks Web User -->
  <% if @fair.showorks_web_user? %>
    <%= bootstrap_label_helper("ShoWorks Web User", "success") %>
  <% else %>
    <%= bootstrap_label_helper("Not ShoWorks Web User", "info") %>
  <% end %>

  <!-- Returned Product -->
  <%= bootstrap_label_helper("Returned Product", "danger") if @fair.returned_product %>

  <!-- Free Upgrade -->
  <%= bootstrap_label_helper("Free Upgrade", "info") if @fair.free_upgrade %>

  <!-- Converted from Competition -->
  <%= bootstrap_label_helper("Converted From Competition", "info") if @fair.converted_from_competition %>

  <!-- Feather in Hat -->
  <%= bootstrap_label_helper("Feather in Hat", "primary") if @fair.feather_in_hat %>

  <!-- Poor Payment -->
  <%= bootstrap_label_helper("Poor Payment", "warning") if @fair.poor_payment %>

  <!-- Courtesy Late Pmt -->
  <%= bootstrap_label_helper("Courtesy Late Pmt", "warning") if @fair.courtesy_late_pmt %>

</p>


<ul class="list-inline">
  <li><strong>FID: </strong><%= @fair.fid %></li>
  <li><strong>Fair time: </strong><%= @fair.fair_time_month_name %></li>
  <li><strong>Location: </strong><%= @fair.fair_state %> <%= "(International)" if @fair.international? %></li>
  <li><strong>Service Plan Number: </strong><%= @fair.service_plan_number %></li>
  <li><strong>ShoWorks Web Contact: </strong><%= @fair.showorks_web_user %></li>
</ul>

<% if @fair.fair_notes.present? %>
  <p>
    <strong>Fair Notes:</strong>
    <%= @fair.fair_notes %>
  </p>
<% end %>

<br>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>
    <li role="presentation"><a href="#serials-and-activations" aria-controls="serials-and-activations" role="tab" data-toggle="tab">Serial Numbers and Activations</a></li>
    <li role="presentation"><a href="#misc" aria-controls="misc" role="tab" data-toggle="tab">Misc</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="messages">
      <p>
        <br>
        <%= link_to "New Message", new_fair_message_path(@fair), class: "btn btn-primary" %>
      </p>
      <%= render partial: 'messages/messages', locals: {messages: @fair.messages.sorted} %>
    </div>

    <div role="tabpanel" class="tab-pane" id="contacts">
      <p>
        <br>
        <%= link_to "New Contact", new_fair_contact_path(@fair), class: "btn btn-primary" %>
      </p>
      <%= render partial: 'contacts/contacts', locals: {contacts: @fair.contacts.sorted} %>
    </div>

    <div role="tabpanel" class="tab-pane" id="serials-and-activations">
      <br>
      <p>
        <strong>Video key:</strong>
        <%= @fair.video_key %>
      </p>
      <%= render partial: 'serial_numbers/serial_numbers', locals: {serial_numbers: @fair.serial_numbers.sorted } %>
      <br>
      <%= render partial: 'activations/activations', locals: {activations: @fair.activations.sorted } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="misc">
      <br>
      <%= show_for @fair do |f| %>
        <%= f.attribute :judas %>
        <%= f.attribute :bulk_ne %>
        <%= f.attribute :old_service_plan_ended %>
        <%= f.attribute :old_service_plan_number %>
        <%= f.attribute :christmas_2010 %>
        <%= f.attribute :christmas_2011 %>
        <%= f.attribute :mailed_2012_invoice %>
        <%= f.attribute :video_key_2006 %>
        <%= f.attribute :video_key_2009 %>
        <%= f.attribute :temp_flag %>
      <% end %>
    </div>

  </div>


</div>
