<% @page_title = 'Users' %>

<h1><%= @page_title %></h1>

<table class="table-condensed table-striped table-hover table-condensed table-responsive table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Last Seen At</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%=link_to user.email, user %></td>
      <td><%= user.role.capitalize %></td>
      <td><%= l user.last_seen if user.last_seen.present? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <br>
  <%= link_to "New User", new_user_path, class: "btn btn-primary" %>
</p>
