<h2><%= @user.email %> <em>(<%= @user.role.capitalize %>)</em></h2>

<%= render partial: 'user_logins/user_logins', locals: {user_logins: @user.user_logins.order('sign_in_at desc')} %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= @user == current_user ? "Delete" : link_to('Delete', @user, :method => 'delete', :data => {:confirm => 'Are you sure you want to delete this user?'}) %> |
<%= link_to 'Back', users_path %>
