<tr>
  <td><%= contact.cid %></td>
  <td><%= contact.fid %></td>
  <td><%= contact.contact_name %></td>
  <td><%= contact.contact_address %></td>
  <td><%= contact.contact_city %></td>
  <td><%= contact.contact_state %></td>
  <td><%= contact.contact_zip_code %></td>
  <td><%= contact.contact_country %></td>
  <td><%= contact.fair_address %></td>
  <td><%= contact.contact_phone_1 %></td>
  <td><%= contact.contact_phone_2 %></td>
  <td><%= contact.contact_phone_cell %></td>
  <td><%= contact.contact_email %></td>
  <td><%= contact.contact_date_registered %></td>
  <td><%= contact.contact_last_edited %></td>
  <td><%= contact.contact_date_address_last_active %></td>
  <td><%= contact.contact_last_mailed %></td>
  <td><%= contact.contact_active %></td>
  <td><%= contact.contact_reputation %></td>
  <td><%= link_to 'Show', contact %></td>
  <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
  <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
