<tr class="<%= 'text-muted' unless contact.contact_active? %>">
  <td nowrap><%= contact.contact_name %> <br> <small><%= contact.contact_email %></small></td>
  <td nowrap><%= contact.contact_phone_numbers.join("<br>").html_safe if contact.contact_phone_numbers %></td>
  <td nowrap>
    <%= contact.contact_full_address.join("<br>").html_safe  %>
    <%= "<br>(Fair Address)".html_safe if contact.fair_address? %>
  </td>
  <td>
    <small><%= contact.contact_notes %></small>
  </td>
  <td nowrap>
    <small>
    <%= "<em>Last Edited: #{l contact.contact_last_edited}</em>".html_safe if contact.contact_last_edited? %>
    <%= "<br><em>Last Active: #{l contact.contact_date_address_last_active}</em>".html_safe if contact.contact_date_address_last_active? %>
    <%= "<br><em>Last Mailed: #{l contact.contact_last_mailed}</em>".html_safe if contact.contact_last_mailed? %>
    <%= "<br><em>Registered: #{l contact.contact_date_registered}</em>".html_safe if contact.contact_date_registered? %>
    </small>
  </td>
  <% if contact.cid.blank? && (current_user.role == "administrator" || (contact.created_by.present? && current_user.id == contact.created_by)) %>
    <td><%= link_to_if contact.cid.blank?, "Edit", edit_fair_contact_path(@fair, contact) %></td>
  <% else %>
    <td>&nbsp;</td>
  <% end %>
</tr>
